{% extends 'base.html' %}

{% block content %}

{% for match in matches %}
    <div class="card my-2">
        <div class="card-body">
        <table class="table" id="matches_list">
        <thead="">
        <tr>
            <th class="col-3">{{ match.date }}</th>
            <th class="col-3">{{ match.player_1 }}</th>
            <th class="col-3">{{ match.player_2 }}</th>
        </tr>
        </thead>
        <tbody>
            {% for score in match.scores %}
            <tr>
                <td class="col-3">{{ score.0 }}</td>
                <td class="col-3">{{ score.1 }}</td>
                <td class="col-3">{{ score.2 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endfor %}

    <!-- <script>
    $(document).ready(function() {
    $("#matches_list").DataTable({
        autoWidth: true
    });
    });
    </script> -->

{% endblock %}
