{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" media="all">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h2>Stats</h2>
    {% crispy stats_form %}
    {% if results %}
    <div>Matches played: {{ results.match_count }}</div>
    <div>Matches won: {{ results.match_stats.win_count }}</div>
    <div>Matches lost: {{ results.match_stats.loose_count }}</div>
    <div>Matches drawn: {{ results.match_stats.draw_count }}</div>
    <br>
    <h2>Set score delta distribution</h2>
    {% autoescape off %}
    {{ results.set_score_distribution_plot_div }}
    {% endautoescape %}
    {% else %}
    <div>No matches found</div>
    {% endif %}
    {% endblock %}
