{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" media="all">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <h1>{{tournament.name}}</h1>
    <hr>
    {% if tournament.description %}
        <p>{{tournament.description}}</p>
    {% endif %}

    {% if user_upcoming_matches %}
        <h2>Your upcoming matches</h2>
                <table class="table w-auto" id="matches_list">
                    <tbody>
                    {% for match in user_upcoming_matches %}
                        <tr>
                            <td class="col">
                            {% if match.player_1 == user %}
                                {{ match.player_2 }}
                            {% else %}
                                {{ match.player_1 }}
                            {% endif %}
                            </td>
                            <td class="col">
                                <a href="{% url 'matches:new_planned' id=match.id %}" class="btn btn-info" role="button">Enter score</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
    {% endif %}

    {% if leaderboard_html %}
        <h2>Leaderboard:</h2>
        {% autoescape off %}{{ leaderboard_html }}{% endautoescape %}
    {% endif %}

    {% if scoreboard_html %}
    <h2>Scoreboard:</h2>
        <div>
            {% autoescape off %}{{ scoreboard_html }}{% endautoescape %}
            <div>Legend: [row]:[colum]</div>
        </div>
    {% endif %}
    {% if matches %}
        <h2>Matches played:</h2>
        {% for match in matches %}
            <div class="card my-2 row col-lg-6">
                <div class="card-body">
                    <table class="table w-auto" id="matches_list">
                    <thead="">
                    <tr>
                        <th class="col">{{ match.date }}</th>
                        <th class="col">M</th>
                        {% for score in match.round_scores %}
                        <th class="col">R{{forloop.counter}}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col">{{ match.player_1 }}</td>
                            <td class="col">{{ match.score_player_1 }}</td>
                        {% for score in match.round_scores %}
                            <td class="col">{{ score.0 }}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                            <td class="col">{{ match.player_2 }}</td>
                            <td class="col">{{ match.score_player_2 }}</td>
                        {% for score in match.round_scores %}
                            <td class="col">{{ score.1 }}</td>
                        {% endfor %}
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% endblock %}
